.venv/
.venv1/
candidates_for_review/
candidates_for_review_disease/
dataset_clean/
dataset_clean_disease/
dataset_raw/
dataset_raw_disease/
dataset_stage2b/
kfold_split/
random_split/
rejected/
rejected_disease/
stratified_split/
test_images/
*.keras
*.h5
*.png
*.jpg
*.jpeg
*.webp